::-moz-focus-inner {
    border: 0;
}

.button,
[type="button"],
[type="reset"],
[type="submit"] {
    --icon-size: 25px;
    --color: inherit;
    --fondo: transparent;

    text-decoration: none;
    outline: medium none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;

    border-radius: 5px;
    min-height: 40px;
    color: var(--color);
    padding: 5px 20px;
    font: inherit;

    background-image: none;
    background-color: var(--fondo);
    transition: 300ms ease;
}

.button {
    path {
        transition: 300ms ease;
    }

    &:hover {
        --fondo: rgba(black, 0.3);
        --color: #{$color-text};
    }

    svg {
        width: var(--icon-size);
        height: var(--icon-size);
    }

    path {
        fill: var(--color);
    }

    &--success {
        --fondo: #{$color-base};
        --color: white;

        &:hover {
            --fondo: #{darken($button-success, 5)};
            --color: white;
        }

        &:focus {
            opacity: 0.8;
        }

        &:active {
            --fondo: #{$button-success};
        }
    }

    &--exit {
        --size: 30px;

        display: flex;
        padding: 0;
        background-color: rgba(black, 0.9);
        border-radius: 50%;
        min-height: auto;

        margin-left: auto;
        margin-right: 0;

        width: var(--size);
        height: var(--size);

        cursor: pointer;

        font: {
            size: 1rem;
        }

        color: white;

        &:hover,
        &:focus {
            $color: darken(red, 10);
            background-color: rgba($color, 0.9);
        }

        &:active {
            opacity: 0.7;
            transition: none;
        }
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--location {
        --size: 40px;

        display: flex;
        justify-content: center;

        width: var(--size);
        height: var(--size);

        --icon-size: 100%;

        min-width: auto;
        padding: 0;
        --icon-color: #{$color-base};

        &:hover {
            background-color: rgba($color-terciario, 0.2);
            --icon-color: #{color-secundario};
        }

        &:active {
            &,
            path {
                transition: none;
            }

            opacity: 0.7;
        }
    }

    &[disabled] {
        background-color: darken(white, 20);
        color: darken(white, 80);
        --icon-color: #{darken(white, 80)};
    }
}

[type="text"],
[type="email"],
[type="number"],
[type="search"] {
    border: 1px solid;
    min-height: 30px;
    outline: medium none;
    border-radius: 5px;
    padding: 0 10px;
    font: inherit;
    caret-color: $color-base;
    transition: 300ms ease;
}

.locations {
    background-color: darken(white, 3);
    box-shadow: 4px 4px 0 0 rgba($color-terciario, 0.3);

    --icon-color: #{$color-base};
    --icon-size: 25px;

    max-height: 30vh;
    overflow: auto;

    svg,
    path {
        transition: 300ms ease;

        &:active {
            transition: none;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        padding: 10px;

        transition: 300ms ease;

        // En el caso de que se llegue a utilizar un enlace:
        text-decoration: none;

        $color: darken($color-base, 3);
        $color: rgba($color, 0.3);

        &:not(:first-of-type) {
            border-top: 1px solid $color;
        }

        &:hover,
        &:focus {
            background-color: rgba($color-terciario, 0.1);
            --icon-color: #{color-terciario};
            color: var(--icon-color);
        }

        &:active {
            transition: none;
            opacity: 0.7;
        }
    }
}
