.main-modal {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background-color: rgba(black, 0.85);

    display: flex;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;

    perspective: 5000px;
    z-index: 999;
}

.modal {
    background-color: rgba(white, 0.9);
    padding: 30px;
    border-radius: 5px;

    animation: 300ms cubic-bezier(0.1, 0, 0, 1) fadeIn 1;

    &--location {
        max-width: 600px;
    }

    &__content {
        &__text {
            --icon-size: 22px;
            --icon-color: #{rgba($color-terciario, 0.6)};

            position: relative;

            display: flex;
            align-items: center;
            height: 40px;
            margin-bottom: 10px;
            padding: 0 10px;

            [type="text"],
            [type="search"] {
                display: block;
                top: 0;
                bottom: 0;
                height: 100%;

                padding-left: calc(var(--icon-size) + 15px);

                color: $color-terciario;

                box-shadow: none, 4px 4px 0 0 rgba($color-terciario, 0.3);

                &::placeholder,
                &::-webkit-input-placeholder {
                    color: $color-terciario;
                }

                &:focus {
                    box-shadow: 4px 4px 0 0 rgba($color-terciario, 0.3);
                }
            }

            [type="text"],
            [type="search"],
            &__search {
                position: absolute;
                margin: auto;
                left: 0;
                right: auto;
                width: 100%;
            }

            &__search {
                top: 100%;
                min-height: 40px;

                border: 1px solid rgba(black, 0.3);
                border-radius: 0 0 10px 10px;

                
            }
        }
    }
}
